In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'A':[1, 2, 3, 4, 5, 6, 7, 8],  
                   'B':[1, 2, 3, 4, 5, 6, 7, 8],  
                   'C':[1, 2, 3, 4, 5, 6, 7, 8], 
                   'D':[1, 2, 3, 4, 5, 6, 7, 8]}) 
  
df.head()

   A  B  C  D
0  1  1  1  1
1  2  2  2  2
2  3  3  3  3
3  4  4  4  4
4  5  5  5  5

In [4]:
df.style.set_table_styles(
    [
        {'selector': 'th',
        'props': [('background', '# 606060'), ('color','white')]},
        {'selector': 'td', 
        'props': [('color','blue')]}
    ]
)

In [5]:
df.style.set_table_styles(
    [
        {'selector': 'th',
        'props': [('background', '# 606060'), ('color','white')]},
        {'selector': 'td', 
        'props': [('color','blue')]}
    ]
).hide_index()

AttributeError: 'Styler' object has no attribute 'hide_index'

In [6]:
a = pd.read_csv('nba.csv')
a.to_html('nba.htm')
html_file = a.to_html()

In [8]:
import matplotlib.pyplot as plt