In [1]:
import pandas as pd
import numpy as np

In [2]:
def add_values(row):
    return row['A'] + row['B'] + row['C']

def main():
    data = {
        'A': [1,2,3],
        'B': [4,5,6],
        'C': [7,8,9]
    }
    df = pd.DataFrame(data)
    print(df)
    df['Add'] = df.apply(add_values, axis=1)
    print(df)

if __name__ == '__main__':
    main()

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
   A  B  C  Add
0  1  4  7   12
1  2  5  8   15
2  3  6  9   18

In [4]:
def add(a,b,c):
    return a+b+c
def main():
    data = {
        'A': [1, 2, 3],
        'B': [4, 5, 6],
        'C': [7, 8, 9]
    }
    df = pd.DataFrame(data)
    print(df)
    df['Add'] = df.apply(lambda row: add(row['A'], row['B'], row['C']),axis=1)
    print(df)

if __name__ == '__main__':
    main()

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
   A  B  C  Add
0  1  4  7   12
1  2  5  8   15
2  3  6  9   18

In [5]:
def main():
    data = {
        'A': [1, 2, 3],
        'B': [4, 5, 6],
        'C': [7, 8, 9]
    }
    df = pd.DataFrame(data)
    print(df)
    df['Add'] = df.apply(np.sum, axis=1)
    print(df)

if __name__ == '__main__':
    main()

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
   A  B  C  Add
0  1  4  7   12
1  2  5  8   15
2  3  6  9   18

In [7]:
def normalize(x,y):
    x_new = ((x- np.mean([x,y])) / (max(x,y) - min(x,y)))
    return x_new
def main():
    data = {
        'X': [1, 2, 3],
        'Y': [45, 65, 89]
    }
    df = pd.DataFrame(data)
    print(df)
    df['X'] = df.apply(lambda row: normalize(row['X'], row['Y']), axis=1)
    print(df)

if __name__ == '__main__':
    main()

   X   Y
0  1  45
1  2  65
2  3  89
     X   Y
0 -0.5  45
1 -0.5  65
2 -0.5  89

In [8]:
pd.options.mode.chained_assignment = None
 
# Function to generate range
 
def generate_range(n):
 
    # printing the range for eg:
    # input is 67 output is 60-70
    n = int(n)
 
    lower_limit = n//10 * 10
    upper_limit = lower_limit + 10
 
    return str(str(lower_limit) + '-' + str(upper_limit))
 
 
def replace(row):
    for i, item in enumerate(row):
 
        # updating the value of the row
        row[i] = generate_range(item)
    return row
 
def main():
    # create a dictionary with
    # three fields each
    data = {
        'A': [0, 2, 3],
        'B': [4, 15, 6],
        'C': [47, 8, 19]}
 
    # Convert the dictionary into DataFrame
    df = pd.DataFrame(data)
 
    print('Before applying function: ')
    print(df)
 
    # applying function to each row in
    # dataframe and storing result in a new column
    df = df.apply(lambda row: replace(row))
 
    print('After Applying Function: ')
    # printing the new dataframe
    print(df)
 
 
if __name__ == '__main__':
    main()

Before applying function:
   A   B   C
0  0   4  47
1  2  15   8
2  3   6  19
After Applying Function:
      A      B      C
0  0-10   0-10  40-50
1  0-10  10-20   0-10
2  0-10   0-10  10-20

C:\Users\rfare\AppData\Local\Temp\ipykernel_5148\2257663554.py:21: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0-10' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  row[i] = generate_range(item)
C:\Users\rfare\AppData\Local\Temp\ipykernel_5148\2257663554.py:21: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0-10' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  row[i] = generate_range(item)
C:\Users\rfare\AppData\Local\Temp\ipykernel_5148\2257663554.py:21: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '40-50' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  row[i] = generate_range(item)

In [10]:
df = pd.read_csv('nba.csv')
df.aggregate({'Number': ['sum','min'], 'Age': ['sum','min'], 'Weight': ['sum','min'], "Salary": ['sum','min']})

     Number      Age    Weight        Salary
sum  8079.0  12311.0  101236.0  2.159837e+09
min     0.0     19.0     161.0  3.088800e+04

In [11]:
df = pd.DataFrame({"A":[12, 4, 5, None, 1],
                "B":[7, 2, 54, 3, None],
                "C":[20, 16, 11, 3, 8],
                "D":[14, 3, None, 2, 6]})
df.mean(axis=1, skipna=True)

0    13.250000
1     6.250000
2    23.333333
3     2.666667
4     5.000000
dtype: float64

In [18]:
df = pd.DataFrame({"A":[12, 4, 5, 44, 1], 
                   "B":[5, 2, 54, 3, 2],  
                   "C":[20, 16, 7, 3, 8], 
                   "D":[14, 3, 17, 2, 6]})
df['A'].mad(axis=0)

AttributeError: 'Series' object has no attribute 'mad'

In [13]:
df = pd.DataFrame({"A":[12, 4, 5, None, 1], 
                   "B":[7, 2, 54, 3, None], 
                   "C":[20, 16, 11, 3, 8],  
                   "D":[14, 3, None, 2, 6]}) 
  
# To find the mean absolute deviation 
# skip the Na values when finding the mad value 
df.mad(axis = 1, skipna = True)

AttributeError: 'DataFrame' object has no attribute 'mad'

In [17]:
df = pd.read_csv("nba.csv") 
df['Age'].sem(axis=0)

0.20601119908818377

In [19]:
sr = pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon', 'Rio', 'Chicago', 'Lisbon'])
sr.value_counts()

Chicago     2
Lisbon      2
New York    1
Toronto     1
Rio         1
Name: count, dtype: int64

In [20]:
idx = pd.Index([21, 10, 30, 40, 50, 10, 50])
idx.value_counts()

10    2
50    2
21    1
30    1
40    1
Name: count, dtype: int64